
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
  </head>

  <body>
    <style>
    

    </style>
    <div id="hed-intro">
      <div class="headline">How Often Do Globes Lead to Oscars?</div>
      <div id="intro"><p> We looked at every Golden Globe since 1980 to determine how often Globes winners also win the Oscar in four major categories: Best Picture, Best Actor in a Leading Role, Best Actress in a Leading Role, and Best Directing. We found:</p>
      <p><strong>In past years, it's been about 50/50</strong></p>
      <p>Nominees who won the Golden Globe went on to win the Oscar for the corresponding category <span id="wins"></span>% of the time.</p>
      <p><strong>There's always overlap</strong></p>
      <p>In every year since 1980 with the exception of 2002, at least one nominee who won the Golden Globe won the corresponding Oscar. An average of <span id="nom-overlap"></span> actors, actresses, directors or films were nominated for both in a given year.</p>
      <p><strong>Meryl Streep has the most nominations</strong></p>
      <p>Meryl Streep has received 39 nominations in the time period and categories shown, more than twice as many as any other actor or director. The next highest contender is Steven Spielberg with 15 nominations.</p>
      <p><em>Hover or tap for details on each double nomination.</em></p>
      </div>
    </div>
    <!-- Start content here -->

    <div id="container">

    </div>
    
    

  </body>
</html>
