
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
  </head>

  <body>
    <style>
    

    </style>
    <div class="headline">How Often Do Globes Lead to Oscars?</div>
    <div id="intro"><p> We looked at every Golden Globe since 1980 to determine often Globes winners are also win the Oscar. We found:</p>
    <p><strong>In past years, it's been about 50/50</strong></p>
    <p>Nominees who won the Golden Globe went on to win the Oscar for the corresponding category <span id="wins"></span>% of the time.</p>
    <p><strong>There's always overlap</strong></p>
    <p>In every year since 1980 with the exception of 2002, at least one nominee who won the Golden Globe won the corresponding Oscar. An average of <span id="nom-overlap"></span> actors, actresses, directors or films were nominated for both in a given year.</p>
    </div>
    <!-- Start content here -->

    <div id="container">

    </div>
    <div id="polls">

    </div>
    <div>
    

  </body>
</html>
